.container--search{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

.c--search{
    width: 90%;
}

.save{
    width: 100%;
}

mat-form-field{
    margin: .5%;
}