<div *ngIf="total > 0" [ngStyle]="{display: 'flex', flexDirection: 'column', padding: '10px'}">
<app-student-card *ngFor="let i_student of l_students | paginate: {itemsPerPage: 2, currentPage: page}" [student]="i_student"></app-student-card>
</div>
<div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<ng-container *ngIf="total > 0; else noStudentsFound">
    <br/>
    <div [ngStyle]="{display: 'flex', flexDirection: 'column', padding: '15px'}">
      <h4 class="result_text">Found: {{ total }}</h4>
    </div>
  </ng-container>
  <ng-template #noStudentsFound>
    <div>
      <h4 class="result_text">There are no students, start by adding one</h4>
    </div>
</ng-template>
