<div class="container-fluid">
  <div class="containerstudentlist">
    <div class="titleContainer"><h1><b>Students List</b></h1></div>
    
    <div *ngIf="total > 0" [ngStyle]="{display: 'flex', flexDirection: 'column', margin: '10px 10px 10px 13px'}">
      <app-student-card *ngFor="let i_student of l_students | paginate:{itemsPerPage: 4, currentPage: p }"
        [student]="i_student"></app-student-card>
    </div>
    <ng-container *ngIf="total > 0; else noStudentsFound">
      <br />
      <div class="found">
        <h4 class="result_text">Founded: {{ total }}</h4>
      </div>
    </ng-container>
    <ng-template #noStudentsFound>
      <div>
        <h4 class="result_text">There is no students, start adding one</h4>
      </div>
    </ng-template>

    <pagination-controls class="pagination" (pageChange)="p = $event" previousLabel="Previous"
      nextLabel="Next"></pagination-controls>
  </div>
</div>