.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.noinfo--container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}