<div class="formContainer mat-elevation-z4">
  <form [formGroup] = "studentForm" class="formulary">
    <mat-form-field appearance="fill" >
      <mat-label>Name: </mat-label>  <input matInput placeholder="Insert name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>Identification: </mat-label> <input matInput placeholder="Insert Identification" formControlName="idNum"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>Age: </mat-label> <input matInput placeholder="Insert age" formControlName="age"/>
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>Mail: </mat-label> <input matInput placeholder="Insert mail" formControlName="mail"/>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn" (click)="backButton()">Go Back</button>
    </div>
  </form>
</div>
