<form [formGroup]="studentForm" ngClass="save">
  <mat-form-field appearance="fill">
    <mat-label>Name: </mat-label>
    <input matInput placeholder="Insert name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Id number: </mat-label>
    <input
      type="number"
      matInput
      placeholder="Insert Identification"
      formControlName="idNum"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Age: </mat-label>
    <input
      type="number"
      matInput
      placeholder="Insert age"
      formControlName="age"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mail: </mat-label>
    <input matInput placeholder="Insert mail" formControlName="mail" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onCreate()">
    {{ this.studentForm.value.studentId === "" ? "Save" : "Edit" }}
  </button>
  <button
    *ngIf="!(this.studentForm.value.studentId === '')"
    mat-raised-button
    color="primary"
    (click)="onSave()"
  >
  Duplicate
  </button>
  <button mat-raised-button color="warn" routerLink="/students">Go Back</button>
</form>
