.search-container {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 10px 10px 10px 13px;
}

.inp{
    margin-right: 1%;
}

.containercourseslist{
    margin-top: 5%;
    margin-bottom: 5%;
}

.found {
    margin: 10px 10px 10px 13px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}