<div class="main-container">
  <div class="searching-bar">
        <div>
          <input matInput  placeholder="Enter text" [(ngModel)]="searchingBy" (change)="ngOnSearch()"/>
        </div>
        <div class="search-options">
          <label>Filter by</label>
          <select name="filterOption" id="filterOption" [(ngModel)]="filterOption">
            <option value="none" (click)="ngOnSearch()">None</option>
            <option value="name">Name</option>
            <option value="coach">Coach</option>
            <option value="level">Level</option>
          </select>
        </div>
  </div>
  <div *ngIf="results.length > 0" class="results-found">
      <app-course-card *ngFor="let course of pageSlice" [course]="course"
      (courseDeleted)="onDelete($event)"></app-course-card>
  </div>
  <div class="results-details">
    <ng-container *ngIf="results.length > 0; else noCoursesFound">
      <div>
        <h4 >Founded: {{ results.length }}</h4>
      </div>
    </ng-container>
    <ng-template #noCoursesFound>
      <div>
        <h4 >No course(s) were found
        </h4>
      </div>
  </ng-template>
  </div>
  <div>
    <app-paginator [courses]="results"
                   (courseSliceUpdated)="updateCoursesSlice($event)">
    </app-paginator>
  </div>
</div>
