.course-card{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    button {
        margin: 0.2rem;
    }

    .list-students{
        padding: 0 20px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mat-icon{
                cursor: pointer;
            }
        }
    }
}
