

mat-card-header {
  padding: 1.5vh;
  border-radius: 1vh 1vh 0 0;
  border: solid 1px gray;
  gap: 2vh;
}
mat-card-actions{
  padding: 1.5vh;
  border-radius: 0 0 1vh 1vh;
  border: solid 1px gray;
  gap: 1vh;
}
.objects {
  display: flex;
  gap: 2vh;
  flex-wrap: wrap;
}
.relations {
  padding-left: 2.5vw;
  border-left: solid 1px gray;
}
.card-info {
  width: 15vw;
  margin-right: 2.5vw;
}
