mat-sidenav {
  background-color: #354497;
}
mat-sidenav-container {
  background-color: #3A3A3A;
}

mat-nav-list {
  background-color: #BEC4E5;
}

mat-expansion-panel {
  background-color: #DADDED;
}
