@use "sass:map";
@use "@angular/material" as mat;

$pink-color: mat.$pink-palette;
$blue-gray-color: mat.$blue-gray-palette;
$gray-color: mat.$gray-palette;

h1{
  font-size: xx-large;
  font-weight: bold;
  color: map.get($pink-color, 500);
}

h3{
  color: map.get($blue-gray-color, 500);
}

div{
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
