.containercourselist{
    margin-top: 5%;
    margin-bottom: 5%;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.found {
    margin: 10px 10px 10px 13px;
}