<div *ngIf="total > 0">
  <app-course-card
    *ngFor="
      let course of courses | paginate : { itemsPerPage: 2, currentPage: page }
    "
    [course]="course"
  ></app-course-card>
</div>
<div class="paginator">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<ng-container *ngIf="total > 0; else noStudentsFound">
  <br />
  <div>
    <h4 class="result_text">Founded: {{ total }}</h4>
  </div>
</ng-container>
<ng-template #noStudentsFound>
  <div>
    <h4 class="result_text">There is no courses, start adding one</h4>
  </div>
</ng-template>
