@media screen and (max-width: 40em){
  .courses-container {
    display: flex;
    flex-direction: column;
    app-course-card {
      padding: 15px;
    }
  }
}

@media screen and (min-width: 40em){
  .courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    app-course-card {
      padding: 15px;
    }
  }
}

.courses-results-details {
  margin-left: 15px;
}
