<div class="welcome-container">
  <div class="sofka-logo-container">
    <img [src]="sofkaULogo" alt="Sofka U Logo">
  </div>
  <div class="training-leagues-container">
    <div class="training-league">
      <img [src]="agileLogo" alt="Agile training Logo" class="agile-training-league-logo">
    </div>
    <div class="training-league">
      <img [src]="devLogo" alt="Development training Logo" class="training-league-logo">
    </div>
    <div class="training-league">
      <img [src]="qaLogo" alt="QA training Logo" class="training-league-logo">
    </div>
  </div>
</div>
