.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
  }
  
  .title--container {
    width: 60%;
    min-height: 5%;
    margin: 2% 0% 2% 0%;
    text-align: center;
  }
  
  .info--container {
    width: 90%;
    height: 100vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
  
  .cards--container{
    width: 90%;
    height: auto;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .paginator--container{
    display: flex;
  }
  
  .paginator--container p{
    margin: 0 1% 0 1%;
  }
  
  .pagination--button{
    background-color: #3859c7ec;
    color: white;
    border-radius: 30px;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }