.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

#searchBar{
  align-items: center;
  margin-bottom: 0;
}

button{
  margin-left: 10px;
  margin-bottom: 22px;
}
