.placeholder--container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 8px;
    margin-left: 3px;
  }
}

h4 {
  margin-top: 5%;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
}

.student-input {
  border-radius: 10px;
  border-width: thick;
  border-style: solid;
  border-color: #354497;
}

select {
  appearance: none;
  background-color: #8693d5;
  color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 5px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.search-btn {
  margin-top: 4.5px;
  margin-left: 7px;
  background: #354497;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  text-shadow: none;
}

.search-btn:hover {
  background: #bec4e5;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  text-shadow: none;
}
