.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.searching-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding-left: 15px;
    input {
      width: 130px;
      height: 20px;
    }
    button {
      width: 80px;
      height: 27px;
    }
  }
}

.results-details {
  margin-left: 15px;
}

@media screen and (max-width: 40em){
  .results-found {
    display: flex;
    flex-direction: column;
    app-student-card {
      padding: 15px;
    }
  }
}

@media screen and (min-width: 40em){
  .results-found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    app-student-card {
      padding: 15px;
    }
  }
}
