<div [ngStyle]="{display: 'flex', flexDirection: 'column'}">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{student.name}}</mat-card-title>
          <mat-card-subtitle>Age: {{student.age}}</mat-card-subtitle>
          <mat-card-subtitle>Identification: {{student.dni}}</mat-card-subtitle>
          <mat-card-subtitle>Mail: {{student.email}}</mat-card-subtitle>
          <mat-card-subtitle>Course: {{student.courseDTO?.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="start">
          <button mat-button mat-raised-button color="primary" (click)="goToForm()">Edit</button>
          <button mat-button mat-raised-button color="accent">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>



