/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(rgb(102, 102, 102), 10%, rgb(29, 29, 29));
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.card{
  background: linear-gradient(rgb(193, 255, 255), 10%, rgb(78, 145, 145));
  margin: 1vh;
  border-radius: 2vh;
}
